

/* body {
    background-color: cornflowerblue;
} */

/* .addedtask{
    background-color: aqua;
} */

body {
    /* background-color: rgb(202, 238, 238) ; */
    background-color:  rgb(233, 232, 232);
 }
 

button.remove {
    background-color: #f22836;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px rgba(89, 226, 31, 0.9);
}

button.addtask:hover {background-color: #1daefc;}
button.remove:hover {background-color: #f22836;}

button {
    display: inline-block;
    padding: 8px 10px;
    font-size: 15px;
    /* cursor: pointer; */
    text-align: center;
    text-decoration: none;
    /* outline: none; */
    color: #fff;  /* text color*/
    border: none;
    border-radius: 12px;
    /* box-shadow: 0 5px #999; */
    /* transition: 0.3s ; */
}

/* button:active {
    
    transform: scale(0.98);
    font-size: 12px;
    box-shadow: 0px 2px rgba(70, 246, 58, 0.24);
}  */

/* button.addtask:active {
    color: #fff;
    box-shadow: 0 2px #f5f1f1;
    font-size: 12px;
    padding: 8px 10px;
    transform: small translateY(-8px);
} */

input.addtaskin {
    width: 250px;
    height: 40px;
}

input {
    border-radius: 10px;
    border: none;
}

h1 {
    display: cen; 
    padding-top: 20px;
    background-color: chartreuse;
    border-radius: 0 0 2rem 2rem ;
    border: solid;
    border: #00a4ff;
    /* border-width: 2rem; */
    border-bottom-width: 10px;
    /* border: red; */
    
}

.addtask{
    /* background-color: rgb(135, 249, 78); */
    background-color: rgb(19, 188, 19);
    /* box-shadow: 2px 2px 5px rgba(89, 226, 31, 0.9); */
    box-shadow: 2px 3px 5px rgba(105, 253, 76, 0.9);
    
 }
 div.addedtask{
    margin-top: 10px;
 }

div.addedtask.completetsk {
    text-align: center ;
    margin-top: 13 px;
}
ul.myOL {
    display: inline-block;
    text-align: left;
}
.container {
    margin-top: 40px;
    /* margin-top: 70px; */
}

span {
    font-size: 20px;
    color: #6c757d;
    
}