
<%- include('../partials/head') %>
<center> 

    <div style=" padding: 75px 300px 75px 300px;"> 
        <h1 style="border-radius: 20px; border-style: solid; background-color: aqua;"> Task Manager &check; </h1>
        
        <h1 style=" margin-top: 30px; border-radius: 20px; border-style: solid; background-color: rgb(119, 241, 89);">&blacktriangleleft; <a href="/"> Back </a> </h1>
    <!-- </div> -->
    
    
</center>

<%- include('../partials/footer') %>